In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def median(x):
    n=len(x)//2
    if len(x)%2==0:
        return sorted(x)[n-1:n+1]
    else:
        return sorted(x)[n]
z=[1,2,3,5,6,4]
median(z)

[3, 4]

In [3]:
# Basic Manipulation
st="sanjeev30tyagi"
pat_n=re.compile(r"\d+")
delim=re.findall(pat_n,st)
last_name=st.split(delim[0])[1]
first_name=st.split(delim[0])[0]
first_name+" "+last_name

# Basic Manipulation in a df
df=pd.DataFrame({"emp_det":["sanjeev30tyagi","bavneet45sethi"]})
def age_ex(x):
    pat_n=re.compile("\d+")
    return re.findall(pat_n,x)[0]
df["age"]=df.emp_det.apply(age_ex)
def name(x):
    pat_n=re.compile("\d+")
    return x.split(re.findall(pat_n,x)[0])[0].title()+" "+x.split(re.findall(pat_n,x)[0])[1].title()
df["name"]=df.emp_det.apply(name)
df[sorted(df.columns)].drop("emp_det",axis=1)

  age           name
0  30  Sanjeev Tyagi
1  45  Bavneet Sethi

In [4]:
n=6
for i in range(n):
    print(((n-i)*" ")+("*"*i))

     *
    **
   ***
  ****
 *****

In [5]:
x=12
y=13
(x,y)=(y,x)
x,y

(13, 12)

In [6]:
def palin(n):
    copy=n
    rev=0
    rem=0
    while n>0:
        rem=n%10
        rev=rev*10+rem
        n=n//10
    return "Palindrome" if rev==copy else "Not Palindrome"
palin(1001)

'Palindrome'

In [7]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
fact(10)

3628800

In [8]:
def fact_rec(n):
    if n<=1:
        return 1
    else:
        return fact_rec(n-1)*n
fact_rec(10)

3628800

a=[7,15,12,3]
for i in range(len(a)):
    if a[i]-a[i-1]>0:

In [9]:
l=10
r=15
maxs=0
for i in range(l,r+1):
    for j in range(l,r+1):
        if maxs<(i^j):
            maxs=(i^j)
maxs

7

In [10]:
ranked=[100,90,90,80,75,60]
player=[50,65,77,90,102]
player_sort=sorted(player,reverse=True)
rankings = [1]
rank = 1
for i in player_sort:
    for j in range(len(ranked)):
        if ranked[j]<=i:
            ranked.insert(j,i)
            break
        else:
            ranked.append(i)
            break
for i in range(1, len(ranked)):
    if ranked[i] < ranked[i - 1]:
        rank += 1
    rankings.append(rank)
rankings=[i-1 for i in rankings]
rankings[0]=1
final=dict(zip(ranked,rankings))
[final[k] for k in player if k in final],rankings

([8, 7, 6, 5, 1], [1, 1, 2, 2, 3, 4, 5, 5, 6, 7, 8])

In [11]:

n=10
cnt=0
for i in bin(n):
    if i=="0":
        cnt+=1
pow(2,cnt-1)

4

In [12]:
#Lonely integer
x=0
a=sorted([1,2,3,4,9,4,3,2,1])
for i in a:
    x=i^x
x

9

In [13]:
arr=[1,2,3]
n=len(arr)
tot=sum(arr)
ls=[]
for i in range(n):
    print(sum(arr[i:n]),tot-sum(arr[i:n]))
    if sum(arr[0:i])==sum(arr[i+1:n]):
        ls.append(True)
if any(ls):
    print("YES")
else:
    print("NO")

6 0
5 1
3 3
NO

In [14]:
tot=sum(arr)
"YES" if any(True for i in range(n) if sum(arr[0:i])==(tot-sum(arr[0:i]))) else "NO"

'YES'

In [15]:
arr[:1]

[1]

In [16]:
arr=[1,-3,71,68,17]
min_p=max(arr)
ls=[]
for i in range(len(arr)):
    for j in range(i+1,len(arr)):
        if abs(arr[i]-arr[j])<min_p:
            min_p=abs(arr[i]-arr[j])
ls

[]

In [17]:
#Minimum Distances
a=[1,2,3,4,10]
min_dist=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]==a[j]:
            min_dist.append(abs(i-j))
if not min_dist:
    print(-1)

-1

In [18]:

keyboards=[40,50,60]
drives=[5,8,12] 
b=60
l = []
for x in keyboards:
    for y in drives:
        if x+y <= b:
            l.append(x+y)
if not l:
    print(-1)
else:
    print(max(l),l)

58 [45, 48, 52, 55, 58]

In [19]:
#subarray Division
arr=[2,2,1,3,2]
d=4
m=2
cnt=0
for i in range(len(arr)-1):
    if sum(arr[i:i+m])==d:
        cnt+=1
cnt

2

In [20]:
arr[1:1+2]

[2, 1]

In [21]:
# Minimum Loss
arr=[20,7,8,2,5]
max_sum=max(arr)
for i in range(len(arr)):
    s=i+1
    for j in range(s,len(arr)):
        if ((arr[i]-arr[j])<max_sum) & ((arr[i]-arr[j])>0) :
            max_sum=arr[i]-arr[j]
max_sum

2

In [22]:
#Pairs
arr=[1,5,3,4,2]
k=2
arr2=np.array(arr)+k
len(set(arr2) & set(arr))

3

arr=[5,6,8,11]
left_sum=0
right_sum=0
pivot=0
for i in range(len(arr)):
    if i==0:
        pass
    else:
        left_sum=left_sum+arr[i-1]
        right_sum=right_sum+arr[i+1]
        print(left_sum,right_sum,i)